@import "tailwindcss";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* ✅ 讓背景變色 */
.fc .fc-col-header-cell {
  background-color: #228991 !important;
}

/* ✅ 讓星期文字變白 */
.fc .fc-col-header-cell .fc-col-header-cell-cushion {
  color: white !important;
}
.fc .fc-daygrid-day-number {
  color: #228991 !important;
}

.my-custom-btn {
  background-color: #228991;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  border: 1px solid #228991;
  transition: opacity 0.2s;
  margin-top: 1rem;
}

.my-custom-btn:hover {
  opacity: 0.9;
}

.disabled-btn {
  background-color: #ccc;
  color: white;
  cursor: not-allowed;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
